<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/vendor/jquery.ui.widget.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.iframe-transport.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload-process.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload-validate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
    $(function () {
        $("#result_box").on("click", ".delete-image", function () {
            var $this = $(this);
            var index = $this.data('index');
            $('#file_name_' + index).val('');
            $('#class_image_box_' + index).remove();
            $('#file_delete_flag_' + index).prop('checked', true);
        });
        var image_html = ''
            + '<div class="ui-state-default" id="class_image_box___index__" >'
            + '<img src="__path__" />'
            + '<a class="delete-image" data-index="__index__">'
            + '<svg class="cb cb-close">'
            + '<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cb-close"></use>'
            + '</svg>'
            + '</a>'
            + '</div>';
        $('.file-upload').fileupload({
            url: "{{ url('plugin_plugin_ApgProductClassImage_addImage') }}",
            type: "post",
            sequentialUploads: true,
            dataType: 'json',
            done: function (e, response) {
                var $this = $(this);
                var index = $this.data('index');
                $('#progress' + index).hide();
                $('#file_name_' + index).val(response.result.file);
                $('#file_delete_flag_' + index).prop('checked', false);
                var path = response.result.image_url;
                var temp = image_html.replace(/__path__/g, path);
                $img = $(temp.replace(/__index__/g, index));
                $('#class_image_box_' + index).remove();
                $('#result_box__plg_file_name--' + index).prepend($img);
            },
            fail: function (e, data) {
                alert('アップロードに失敗しました。');
            },
            always: function (e, data) {
                var $this = $(this);
                $('#progress' + $this.data('index')).hide();
                $('#progress' + $this.data('index') + ' .progress-bar').width('0%');
            },
            start: function (e, data) {
                var $this = $(this);
                $('#progress' + $this.data('index')).show();
            },
            submit: function (e, data) {
                var $target = $(this);
                data.formData = {id: $target.data('id')};
                if (!data.formData.id) {
                    data.context.find('button').prop('disabled', false);
                    input.focus();
                    return false;
                }
            },
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: {{ ProductClassImageSetting.imageMaxSizeUnitMb }},
            singleFileUploads: true,
            maxNumberOfFiles: 1,
            progressall: function (e, data) {
                var $this = $(this);
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress' + $this.data('index') + ' .progress-bar').css(
                    'width',
                    progress + '%'
                );
            },
            processalways: function (e, data) {
                if (data.files.error) {
                    alert("画像ファイルサイズが大きいか画像ファイルではありません。");
                }
            }
        });
    })
</script>