
{% extends 'default_frame.twig' %}

{% set menus = ['ne_connect', 'ne_connect_cfg'] %}

{% block title %}ネクストエンジン接続プラグイン{% endblock %}
{% block sub_title %}{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}

    <div class="row" id="aside_wrap">
        <form role="form" name="form1" id="form1" method="post" action="" novalidate enctype="multipart/form-data">
            {{ form_widget(form._token) }}
            <div id="detail_wrap" class="col-md-9">
                {# 設定ボックス #}
                <div id="detail_box" class="box form-horizontal">
                    <div id="detail_box__header" class="box-header">
                        <h3 class="box-title">ネクストエンジン接続情報</h3>
                    </div><!-- /.box-header -->
                    <div id="detail_box__body" class="box-body">

                        <div class="form-group">
                            <label class="col-sm-4 col-lg-3 control-label">メールアドレス</label>
                            <div class="col-sm-8 col-lg-9 padT07">
                                {{ form_widget(form.email_address) }}
                                <small style="color:black">ネクストエンジンの店舗設定で受注情報取込み用メールアドレスに表示されるメールアドレスを登録してください</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-3 control-label">認証キー</label>
                            <div class="col-sm-8 col-lg-9 padT07">
                                {{ form_widget(form.api_key) }}
                                <small style="color:black">ネクストエンジンの店舗設定で認証キーに設定した値を登録してください</small>
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                {# 説明ボックス #}
                <div id="detail_box" class="box form-horizontal">
                    <div id="detail_box__header" class="box-header">
                        <h3 class="box-title">設定のポイント</h3>
                    </div><!-- /.box-header -->
                    <div id="detail_box__body" class="box-body">

                        <div>
                            ・本プラグインは、ネクストエンジンの店舗設定で出店モールが汎用に設定されている場合に対応しています。<br>
                            ・ネクストエンジンの店舗設定の在庫更新用URLには、ホスト名/update_stockを設定してください<br>
                            ・Eccubeの商品マスターには必ず商品コードを設定してください。ネクストエンジン-Eccube間の商品の紐付けは商品コードで行います。<br>
                            ・商品コードは一意の値にしてください（複数の商品に重複した値を設定しないでください）<br>
                            ・EccubeサイトにBASIC認証などの制限がある場合は解除してください。アクセス制限がある場合にネクストエンジンから接続できません。<br>
                            ・ネクストエンジンに取り込み済みデータと注文コードが重複しているデータは、ネクストエンジンに取り込まれません。重複しない値へ変更してください。<br>
                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                {# メールボックス #}
                <div class="box form-horizontal">
                    <div class="box-header">
                        <h3 class="box-title">ネクストエンジンへの受注情報 送信履歴</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>送信先</th>
                                <th>注文ID</th>
                                <th>タイトル</th>
                                {#<th>内容</th>#}
                                <th>実行日時</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for History in HistoryCollection %}
                                <tr>
                                    <td>{{ History.id }}</td>
                                    <td>{{ History.send_to }}</td>
                                    <td>{{ History.order_id }}</td>
                                    {#<td><a href="{{ path('plugin_NEConnect_mail_edit', {'id':History.id } ) }}" target="_blank">{{ History.subject }}</a></td>#}
                                    <td><a href="{{ path('plugin_NEConnect_mail_edit', {'id':History.id } ) }}">{{ History.subject }}</a></td>
                                    {#<td>{{ History.mail_body }}</td>#}
                                    <td>{{ History.send_date | date('Y/m/d H:i:s') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

            </div><!-- /.col -->

            <div class="col-md-3" id="aside_column">
                <div id="common_box" class="col_inner">
                    <div id="common_button_box" class="box no-header">
                        <div id="common_button_box__body" class="box-body">
                            <div id="common_button_box__insert_button" class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button type="submit" class="btn btn-primary btn-block btn-lg prevention-btn prevention-mask" >登録</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                    {% if NEConnectConfig != null %}
                        <div id="common_date_info_box" class="box no-header">
                            <div id="common_date_info_box__body" class="box-body update-area">
                                <p><svg class="cb cb-clock"> <use xlink:href="#cb-clock" /></svg>登録日：{{ NEConnectConfig.create_date|date_format }}</p>
                                <p><svg class="cb cb-clock"> <use xlink:href="#cb-clock" /></svg>更新日：{{ NEConnectConfig.update_date|date_format }}</p>
                            </div>
                        </div><!-- /.box -->
                    {% endif %}

                </div>
            </div><!-- /.col -->

        </form>
    </div>
{% endblock %}