<!-- originalFooter -->
<div id="originalFooter" class="template">
    <div class="contaner">
        <div class="logo_block">
            <p class="logo">
                <a class="link" href="{{ url('homepage') }}">
                    <img class="list_item_image" src="{{
                            app.config.front_urlpath
                            }}/img/common/logo.svg" alt="mio" width="50">
                </a>
            </p>
        </div>
        <div class="navigation_block">
            <nav class="navi">
                <ul class="list">
                    <li class="list_item">
                        <a class="list_item_link" href="https://mioofficial.jp/help/privacy">PRIVACY POLICY</a>
                    </li>
                    <li class="list_item">
                        <a class="list_item_link" href="https://mioofficial.jp/help/tradelaw">特定商取引に基づく表記</a>
                    </li>
                    <li class="list_item">
                        <a class="list_item_link" href="https://mioofficial.jp/contact">CONTACT</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sns_block">
            <ul class="list">
                <li class="list_item">
                    <a class="list_item_link" href="https://www.instagram.com/mio.official_/">
                        <img class="list_item_image" src="{{
                            app.config.front_urlpath
                            }}/img/icon/insta_white.png" alt="instagram">
                    </a>
                </li>
                <li class="list_item">
                    <a class="list_item_link" href="https://lin.ee/zZGCWjM">
                        <img class="list_item_image" src="{{
                            app.config.front_urlpath
                            }}/img/icon/line_white.png" alt="line">
                    </a>
                </li>
            </ul>
        </div>
        <p class="copyRight">copyright (c) {{ BaseInfo.shop_name }} all rights
            reserved.</p>
    </div>
</div>
<!-- /originalFooter -->